@model List<ContactListViewModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var locations = ViewBag.Locations as List<LocationListViewModel>;
}

<link href="~/assets/css/table.css" rel="stylesheet" />
<style>
    .dt-buttons {
        display: none !important;
    }

    a:not([href]):not([tabindex]) {
        color: white;
    }

    #excelExport:hover {
        color: white;
    }

    .dataTables_scrollBody {
        margin: -27px 0 0 0;
    }

    .main-content {
        padding: 5px 5px 0 !important
    }

    .pagination {
        float: right
    }
</style>
<div class="main-content">
    <div class="card">
        <div class="card-body">

            <table class="table table-striped table-bordered dataTable no-footer" id="example" cellspacing="0" @*data-provide="datatables"*@>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Location </th>
                        <th>Update </th>
                        <th>Delete</th>
                        <th>Contact Info</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var contact in Model)
                        {
                            <tr>
                                <td>@contact.Name</td>
                                <td>@contact.Lastname</td>
                                <td>@contact.EmailAddress</td>
                                <td>@contact.PhoneNumber</td>
                                <td>@contact.Location</td>
                                <td><button onclick="getDetail('@contact.Id')" class="btn btn-primary btn-xs">Update</button></td>
                                <td><button onclick="deleteContact('@contact.Id')" class="btn btn-danger btn-xs">Delete</button></td>
                                <td><button onclick="contactInfoDetail('@contact.Id')" class="btn btn-warning btn-xs">Contact Info</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="Id" value="" />
                <div id="detail-summary">
                    <div class="form-group col-md-12">
                        <label>Name</label>
                        <input type="text" class="form-control" id="Name" value="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label>LastName</label>
                        <input type="text" class="form-control" id="Lastname" value="" />
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-success  pull-right" id="contactSave">Update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="contactInfoModalCenter" tabindex="-1" role="dialog" aria-labelledby="contactInfoModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactInfoModalLongTitle">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="Id" value="" />
                <input type="hidden" class="form-control" id="ContactId" value="" />
                <div id="detail-summary">
                    <div class="form-group col-md-12">
                        <label class="text-fader">Location</label>
                        <select class="form-control" name="LocationId" id="LocationId" data-provide="selectpicker">
                            @foreach (var location in locations)
                            {
                                <option value="@location.Id">@location.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Email Address</label>
                        <input type="text" class="form-control" id="EmailAddress" value="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" id="PhoneNumber" value="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label>Content Of Info</label>
                        <textarea class="form-control" id="ContentOfInfo" value=""></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-danger  pull-left" id="contactInfoDelete">Delete</button>
                        <button class="btn btn-success  pull-right" id="contactInfoSave">Update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        function deleteContact(id) {
            $.ajax({
                url: '/Contact/DeleteContact?id=' + id,
                type: 'GET',
                success: function (data) {
                    if (data) {
                        Swal.fire(
                            'Successfull!',
                            'Contact was deleted.',
                            'success'
                        )
                        location.reload();
                    }
                    else {
                        Swal.fire(
                            'Hata!',
                            'Bu summary bulunamadı.',
                            'error'
                        )
                    }

                },
                error: function (hata) {
                    Swal.fire(
                        'Hata!',
                        'Genel hata.Lütfen admine başvurunuz',
                        'error'
                    )
                }
            });

        }
        function getDetail(id) {
            $('#exampleModalCenter').modal('show');
            $.ajax({
                url: '/Contact/GetDetail?id=' + id,
                type: 'GET',
                success: function (data) {

                    if (data != null) {
                        $('#Id').val(data.uuid);
                        $('#Name').val(data.name);
                        $('#Lastname').val(data.lastName);
                    }
                    else {
                        Swal.fire(
                            'Hata!',
                            'Bu summary bulunamadı.',
                            'error'
                        )
                    }

                },
                error: function (hata) {
                    Swal.fire(
                        'Hata!',
                        'Genel hata.Lütfen admine başvurunuz',
                        'error'
                    )
                }
            });

        }
        function contactInfoDetail(id) {
            $('#Id').val("");
            $('#PhoneNumber').val("");
            $('#EmailAddress').val("");
            $('#ContentOfInfo').val("");
            $('#contactInfoModalCenter').modal('show');
            $.ajax({
                url: '/Contact/ContactInfoDetail?id=' + id,
                type: 'GET',
                success: function (data) {

                    if (data != null) {
                        $('#ContactId').val(data.contactId);
                        $('#Id').val(data.id);
                        $('#LocationId').val(data.locationId);
                        $('#PhoneNumber').val(data.phoneNumber);
                        $('#EmailAddress').val(data.emailAddress);
                        $('#ContentOfInfo').val(data.contentOfInfo);
                    }
                    else {
                        Swal.fire(
                            'Hata!',
                            'Error.',
                            'error'
                        )
                    }

                },
                error: function (hata) {
                    Swal.fire(
                        'Hata!',
                        'Genel hata.Lütfen admine başvurunuz',
                        'error'
                    )
                }
            });
        }
        $('#contactSave').on('click', function () {
            var name = $('#Name').val();
            var lastName = $('#Lastname').val();
            var id = $('#Id').val();
            $.ajax({
                url: '/Contact/UpdateContact',
                type: 'POST',
                data: { id: id, name: name, lastName: lastName },
                success: function (data) {
                    $('#exampleModalCenter').modal('hide');
                    if (data) {
                        Swal.fire(
                            'Success!',
                            'Data was updated.',
                            'success'
                        )
                    }
                    else {
                        Swal.fire(
                            'Error!',
                            'Güncelleme işlemi gerçekleşmedi.',
                            'error'
                        )
                    }

                },
                error: function (hata) {
                    $('#exampleModalCenter').modal('hide');
                    Swal.fire(
                        'Hata!',
                        'Genel hata.Lütfen admine başvurunuz',
                        'error'
                    )
                }
            });
        })
        $('#contactInfoSave').on('click', function () {
            var contactId = $('#ContactId').val();
            var id = $('#Id').val();
            var locationId = $('#LocationId').val();
            var phoneNumber = $('#PhoneNumber').val();
            var emailAddress = $('#EmailAddress').val();
            var contentOfInfo = $('#ContentOfInfo').val();

            if (locationId == "" 
                || emailAddress == "" || contentOfInfo == "") {
                Swal.fire(
                    'Error!',
                    'Fill in the required fields.',
                    'error'
                )
                return;
            }
            else {
                $.ajax({
                    url: '/Contact/UpdateContactInfo',
                    type: 'POST',
                    data: { id: id, locationId: locationId, phoneNumber: phoneNumber, emailAddress: emailAddress, contentOfInfo: contentOfInfo, contactId: contactId },
                    success: function (data) {
                        $('#contactInfoModalCenter').modal('hide');
                        if (data) {
                            Swal.fire(
                                'Success!',
                                'Data was updated.',
                                'success'
                            )
                            location.reload();
                        }
                        else {
                            Swal.fire(
                                'Error!',
                                'Güncelleme işlemi gerçekleşmedi.',
                                'error'
                            )
                        }

                    },
                    error: function (hata) {
                        $('#contactInfoModalCenter').modal('hide');
                        Swal.fire(
                            'Hata!',
                            'Genel hata.Lütfen admine başvurunuz',
                            'error'
                        )
                    }
                });
            }

        })
        $('#contactInfoDelete').on('click', function () {
            var id = $('#Id').val();
            $.ajax({
                url: '/Contact/DeleteContactInfo?id=' + id,
                type: 'GET',
                success: function (data) {
                    $('#exampleModalCenter').modal('hide');
                    if (data) {
                        Swal.fire(
                            'Success!',
                            'Data was deleted.',
                            'success'
                        )
                        location.reload();
                    }
                    else {
                        Swal.fire(
                            'Error!',
                            'Something was wrong.',
                            'error'
                        )
                    }

                },
                error: function (hata) {
                    $('#exampleModalCenter').modal('hide');
                    Swal.fire(
                        'Hata!',
                        'Genel hata.Lütfen admine başvurunuz',
                        'error'
                    )
                }
            });
        })
    </script>
} 